.file {
    margin-top:20px;
    position: relative;
    overflow: hidden;
    background-color:#F99600;
    color:rgb(255, 255, 255);
    
  }
#uploadBtn {
    margin-top: 10px;
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
  }